.headerLeftQuizTime {
    color: rgba(25, 29, 99, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 6px 5px;
    background-color: rgba(244, 243, 246, 1);
    border-radius: 6.36px;
}

.header {
    padding: 47px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 45%;
}

.headerText {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}